  <!-- 
  Essential Scripts
  =====================================-->
  <!-- jQuery -->
  <script defer src="../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script defer src="../plugins/bootstrap/bootstrap.min.js"></script>
  <!-- Slick Slider -->
  <!-- <script src="plugins/slick-carousel/slick/slick.min.js"></script> -->
  <!-- Google Map -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
  <script src="../plugins/google-map/gmap.js"></script>  -->

  <script defer src="../js/script.js"></script>

  <script>
    function addToCartSingle() {
        console.log("addToCartSingle")
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          event: "add_to_cart",
          ecommerce: {
            currency: "USD",
            value: 171,
            items: [
            {
              item_id: "166574",
              item_name: "1DNest Single PC License",
            }
            ]
          }
        });
      }
      
      function addToCartEnterprise() {
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          event: "add_to_cart",
          ecommerce: {
            currency: "USD",
            value: 675,
            items: [
            {
              item_id: "167653",
              item_name: "1DNes:t Length Nesting & Cutting Optimizer, Enterprise License",
            }
            ]
          }
        });
      }
      
      function addToCartDLL() {
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          event: "add_to_cart",
          ecommerce: {
            currency: "USD",
            value: 770,
            items: [
            {
              item_id: "171600",
              item_name: "CutLib.dll : 1DNEST optimizer library",
            }
            ]
          }
        });
      }
      
    </script>
</body>
</html>