<section id="about" class="section bg-grey">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="img-block">
                        <img src="../images/zused/hero3.webp" alt="Computer showing 1d-Nest software" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row justy-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                     <i class="ti-thumb-up"></i>
                                </div>
                                <h4 class="mb-2"> ${{index.about.title1}}$ </h4>
                                <p>${{index.about.par1}}$</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                   <i class="ti-direction-alt"></i>
                                </div>
                                <h4 class="mb-2">${{index.about.title2}}$</h4>
                                <p>${{index.about.par2}}$</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-cup"></i>
                                </div>
                                <h4 class="mb-2">${{index.about.title3}}$</h4>
                                <p>${{index.about.par3}}$</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-user"></i>
                                </div>
                                <h4 class="mb-2">${{index.about.title4}}$</h4>
                                <p>${{index.about.par4}}$</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>