<section id="about" class="section bg-grey">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="img-block">
                        <img src="images/zused/hero3.webp" alt="Computer showing 1d-Nest software" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row justy-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                     <i class="ti-thumb-up"></i>
                                </div>
                                <h4 class="mb-2">Easy Operation</h4>
                                <p>Very simple and easy to use software. Can be put into production in minutes.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                   <i class="ti-direction-alt"></i>
                                </div>
                                <h4 class="mb-2">Versatility</h4>
                                <p>Use it in different kind of business areas like sales, production or supervision.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-cup"></i>
                                </div>
                                <h4 class="mb-2">Power</h4>
                                <p>It's cutting edge optimization algorithm outruns the competition delivering the best cutting plans in the shortest time possible.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-user"></i>
                                </div>
                                <h4 class="mb-2">Support</h4>
                                <p>Our excelent client support team will response promptly any technical queries by e-mail.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>