<section class="section" id="projects-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h1 class="text-white">${{index.call.heading}}$</h1>
                    </div>

                    
                </div>
                <div class="col-lg-6">
                    <p class="lead text-white">${{index.call.par}}$</p>
                    <p class="mt-6 text-center">
                        <a href="https://1d-solutions.com/_downloads/1DNest_software_version_401.exe" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-circled btn-portfolio">
                            ${{index.call.button}}$
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>