<section class="section" id="projects-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h1 class="text-white">Download 1D-Nest for free and try it for 30 days with no restrictions.</h1>
                    </div>

                    
                </div>
                <div class="col-lg-6">
                    <p class="lead text-white">After the trial period the software will still remain some functionalities to help you with your cutting optimization needs. </p>
                    <p class="mt-6 text-center">
                        <a href="https://1d-solutions.com/_downloads/1DNest_software_version_401_24.exe" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-circled btn-portfolio">
                            Download
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>