<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->


<!-- NAVBAR
    ================================================= -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable"> -->
  <nav class="navbar navbar-expand-lg navbar-dark header-white fixed-top navbar-togglable mb-4"> 
  <div class="container" id="header">
    <a class="navbar-brand" href="index.html">
      <img src="../images/zused/Log_New_white_clean.webp" alt="Logo White of 1D-solutions"  height="35px">
    </a>
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a href="index.html" class="nav-link js-scroll-trigger">
            ${{index.nav.home}}$
          </a>
        </li> 
        <li class="nav-item ">
          <a href="index.html#about" class="nav-link js-scroll-trigger">
            ${{index.nav.about}}$

          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="index.html#services-2" id="navbarWelcome" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ${{index.nav.products}}$
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="product.html">1D-Nest Software</a></li>
            <!-- <li><a class="dropdown-item" href="index-2.html">CutLib DLL</a></li> -->
          </ul>
        </li>
        <li class="nav-item ">
          <a href="index.html#pricing" class="nav-link js-scroll-trigger">
            ${{index.nav.pricing}}$
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="index.html#services-2" id="navbarWelcome" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ${{index.nav.language}}$
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="/en/index.html">English</a></li>
            <li><a class="dropdown-item" href="/es/index.html">Español</a></li>
            <li><a class="dropdown-item" href="/fr/index.html">Français</a></li>
            <li><a class="dropdown-item" href="/de/index.html">Deutsch</a></li>
            <li><a class="dropdown-item" href="/it/index.html">Italiano</a></li>
            <li><a class="dropdown-item" href="/pt/index.html">Português</a></li>
            <li><a class="dropdown-item" href="/tr/index.html">Türkçe</a></li>
            <li><a class="dropdown-item" href="/sa/index.html">العربية</a></li>
          </ul>
        </li>
        <li class="nav-item ">
          <a href="contact.html#contact" class="nav-link">
            ${{index.nav.contact}}$
          </a>
        </li>
      </ul>
    </div> <!-- / .navbar-collapse -->
  </div> <!-- / .container -->
</nav>
