 <section id="work-wrap" class="section ">
            <div class="container">
                <div class="row justify-content-center pb-2">
                    <div class="col-9 ">
                        <div class="img-block">
                            <img src="images/zused/1dSoftwareTest.webp" alt="" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
                
                <div class="row pt-6">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h1>1D Nest: Cutting Optimization software</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead">The most simple and productive software tool to minimize waste and generate cutting plans with optimum efficiency to save materials such as metal profiles, bars, beams, tubes, rods, rolls or any material which to be manufactured must cut into smaller length pieces </p>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="work" class="section-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/zused/Graphic Layouts_page-0001.webp" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Cutlist example</h4>
                                <p>Guide your cuts with this simple and efficient cutlist</p>
                                <a href="images/zused/Graphic Layouts_page-0001.webp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/zused/1dSoftwareTest.webp" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>User Interface</h4>
                                <p>A minimalistic interface for a simple usage</p>
                                <a href="images/zused/1dSoftwareTest.webp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/zused/Summary Info_page-0001.webp" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Summary example</h4>
                                <p>All the necessary information in one page</p>
                                <a href="images/zused/Summary Info_page-0001.webp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>