 <section id="work-wrap" class="section ">
            <div class="container">
                <div class="row justify-content-center pb-2">
                    <div class="col-9 ">
                        <div class="img-block">
                            <img src="../images/zused/1dSoftwareTest.webp" alt="" class="img-fluid w-100">
                        </div>
                    </div>
                </div>
                
                <div class="row pt-6">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h1>${{index.portfolio2.heading}}$</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead">${{index.portfolio2.subHeading}}$</p>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="work" class="section-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="../images/zused/Graphic Layouts_page-0001.webp" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>${{index.portfolio2.title1}}$</h4>
                                <p>${{index.portfolio2.par1}}$</p>
                                <a href="../images/zused/Graphic Layouts_page-0001.webp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="../images/zused/1dSoftwareTest.webp" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>${{index.portfolio2.title2}}$</h4>
                                <p>${{index.portfolio2.par2}}$</p>
                                <a href="../images/zused/1dSoftwareTest.webp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="../images/zused/Summary Info_page-0001.webp" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>${{index.portfolio2.title3}}$</h4>
                                <p>${{index.portfolio2.par3}}$</p>
                                <a href="../images/zused/Summary Info_page-0001.webp"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>