<section class="section" id="projects-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2 class="text-white">${{index.portfolio.heading}}$</h2>
                    </div>

                    
                </div>
                <div class="col-lg-6">
                    <p class="lead text-white">${{index.portfolio.subHeading}}$</p>
                    <p class="mt-6 text-center">
                        <a href="https://1d-solutions.com/_downloads/1DNest_software_version_402.exe" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-circled btn-portfolio">
                            ${{index.portfolio.button}}$
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="section-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div class="single-project">
                        <a href="../images/zused/Graphic Layouts_page-0001.webp">
                        <img src="../images/zused/Graphic Layouts_page-0001-400w.webp" srcset="../images/zused/Graphic Layouts_page-0001-400w.webp 400w, ../images/zused/Graphic Layouts_page-0001-800w.webp 800w" sizes="(max-width: 768px) 100vw, 350px" width="350" height="453" alt="Graphic Layouts Output" class="img-fluid" loading="lazy">
                        <div class="project-content">
                            <!-- <h4>Project: onepage</h4> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p> -->
                        </div>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="single-project single-project2">
                        <a href="../images/zused/1dSoftwareTest.webp">
                        <img src="../images/zused/1dSoftwareTest-400w.webp" srcset="../images/zused/1dSoftwareTest-400w.webp 400w, ../images/zused/1dSoftwareTest-800w.webp 800w" sizes="(max-width: 768px) 100vw, 350px" width="350" height="246" alt="1D Nest Software capture" class="img-fluid" loading="lazy">
                        <div class="project-content">
                            <!-- <h4>Project: business</h4> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p> -->
                        </div>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 ">
                    <div class="single-project">
                        <a href="../images/zused/Summary Info_page-0001.webp">
                        <img src="../images/zused/Summary Info_page-0001-400w.webp" srcset="../images/zused/Summary Info_page-0001-400w.webp 400w, ../images/zused/Summary Info_page-0001-800w.webp 800w" sizes="(max-width: 768px) 100vw, 350px" width="350" height="453" alt="Summary Information output" class="img-fluid" loading="lazy">
                        <div class="project-content">
                            <!-- <h4>Project : Marketing</h4> -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p> -->
                        </div>
                    </a>
                    
                    </div>
                </div>
            </div>

        </div>
    </section>