<section class="section" id="pricing">
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Price
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Purchase 1DNest safely through well known agents: Shareit/My Commerce of Digital River and Paypal.
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                       <h3>Single PC License</h3>
                        <div class="price-block">
                             <h2><small>$</small>171<span>USD</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>One time Payment</li>
                            <li>Lifetime license</li>
                            <li>1 Years of free support</li>
                            <li>Aditional PC discount</li>
                            <li class="na">Unilimited PC installation</li>
                            <li class="na">Customizable Reports</li>
                        </ul>

                        <a href="https://order.shareit.com/product?catalogid=179788&productid=166574&vendorid=29389" class="btn btn-outline-dark btn-circled btn-buy-single" onclick="addToCartSingle()">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                        <h3>Enterprise License</h3>
                        <div class="price-block">
                             <h2><small>$</small>675<span>USD</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>One time Payment</li>
                            <li>Lifetime license</li>
                            <li>3 Years of free support</li>
                            <li>Unlimited PC installation</li>
                            <li>Customizable PDF Reports </li>

                        </ul>

                        <a href="https://order.shareit.com/product?catalogid=179788&productid=167653&vendorid=29389" class="btn btn-primary btn-circled btn-buy-enterprise" onclick="addToCartEnterprise()">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-6">
                    <div class="pricing-box ">
                        <h3>CutLib License</h3>
                        <div class="price-block">
                             <h2><small>$</small>770<span>USD</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Integrate 1D-Nest Engine to you own software</li>
                            <li>Invisible to the end user </li>
                            <li>Consultations and technical support available</li>
                        </ul>

                        <a href="https://order.shareit.com/product?catalogid=179788&productid=171600&vendorid=29389" class="btn btn-outline-dark btn-circled btn-buy-dll" onclick="addToCartDLL()">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    
