<section class="section" id="pricing">
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            ${{index.price.heading}}$
                        </h2>

                        <!-- Subheading -->
                        <p>
                            ${{index.price.subHeading}}$ 
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                       <h3> ${{index.price.title1}}$</h3>
                        <div class="price-block">
                             <h2><small>$</small>171<span>USD</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>${{index.price.feat1-1}}$</li>
                            <li>${{index.price.feat1-2}}$</li>
                            <li>${{index.price.feat1-3}}$</li>
                            <li>${{index.price.feat1-4}}$</li>
                            <li class="na">${{index.price.feat1-5}}$</li>
                            <li class="na">${{index.price.feat1-6}}$</li>
                        </ul>

                        <a href="https://order.shareit.com/product?catalogid=179788&productid=166574&vendorid=29389" class="btn btn-outline-dark btn-circled btn-buy-single" onclick="addToCartSingle()">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                        <h3>${{index.price.title2}}$</h3>
                        <div class="price-block">
                             <h2><small>$</small>675<span>USD</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>${{index.price.feat2-1}}$</li>
                            <li>${{index.price.feat2-2}}$</li>
                            <li>${{index.price.feat2-3}}$</li>
                            <li>${{index.price.feat2-4}}$</li>
                            <li>${{index.price.feat2-5}}$</li>

                        </ul>

                        <a href="https://order.shareit.com/product?catalogid=179788&productid=167653&vendorid=29389" class="btn btn-primary btn-circled btn-buy-enterprise" onclick="addToCartEnterprise()">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-6">
                    <div class="pricing-box ">
                        <h3>${{index.price.title3}}$</h3>
                        <div class="price-block">
                             <h2><small>$</small>770<span>USD</span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>${{index.price.feat3-1}}$</li>
                            <li>${{index.price.feat3-2}}$</li>
                            <li>${{index.price.feat3-3}}$</li>
                        </ul>

                        <a href="https://order.shareit.com/product?catalogid=179788&productid=171600&vendorid=29389" class="btn btn-outline-dark btn-circled btn-buy-dll" onclick="addToCartDLL()">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    
