<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            Products
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-2 text-white">
                            Optimization Sofware solutions for your enterprise.  
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-around">
                <div class="col-lg-5 col-sm-6 col-md-6 mb-30 ">
                    <div class="web-service-block px-5">
                        <i class="ti-settings"></i>
                        <h3>1DNest</h3>
                        <p>One Dimension Cutting Optimiser , is a simple, efficient and powerful tool to generate optimal cutting lists for industries like steel structure fabrication, aluminium manufacturing and many others that need to cut in shorter pieces "bars" of  raw material.</p>
                         <!-- Button -->
                         <p class="mb-0">
                            <a href="https://1d-solutions.com/1dnest/engl/1dn35.exe" target="_blank" rel="noopener noreferrer" class="btn btn-light btn-circled">
                                Free Trial
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-md-6 mb-30 ">
                    <div class="web-service-block px-5">
                        <i class="ti-desktop"></i>
                        <h3>CutLib DLL</h3>
                        <p>Our dynamic link library (or DLL), is a piece of software designed to integrate into larger software applications or systems. It allows access to the methods and functions for solving linear cutting requirements with optimum efficiency.</p>
                         <!-- Button -->
                         <p class="mb-0">
                            <a href="#!" target="_blank" class="btn btn-light btn-circled">
                                Quote request
                            </a>
                        </p>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Digital Marketing</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>Graphic Design</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>App Development</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Wordpress Installation</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>