<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            ${{index.service.heading}}$
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-2 text-white">
                            ${{index.service.subHeading}}$
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-around">
                <div class="col-lg-5 col-sm-6 col-md-6 mb-30 ">
                    <div class="web-service-block px-5">
                        <i class="ti-settings"></i>
                        <h3>${{index.service.title1}}$</h3>
                        <p>${{index.service.par1}}$</p>
                         <!-- Button -->
                         <p class="mb-0">
                            <a href="https://1d-solutions.com/_downloads/1DNest_software_version_402.exe" target="_blank" rel="noopener noreferrer" class="btn btn-light btn-circled btn-service" > 
                                <!-- <a href="https://1d-solutions.com/_downloads/1DNest_software_version_402.exe" target="_blank" rel="noopener noreferrer" class="btn btn-light btn-circled btn-service" onclick="ga('send', 'event', 'Demo Ingles', 'Descargar')"> -->
                                ${{index.service.freeTrial}}$
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-md-6 mb-30 ">
                    <div class="web-service-block px-5">
                        <i class="ti-desktop"></i>
                        <h3>${{index.service.title2}}$</h3>
                        <p>${{index.service.par2}}$</p>
                         <!-- Button -->
                         <p class="mb-0">
                            <a href="mailto:info@1d-solutions.com?Subject=Quote%20request%20for%20CutLib%20&body=Hello,%20I%20would%20like%20to%20request%20a%20quote%20for%20the%201d-solutions%20CutLib%20library.%20"target="_blank" class="btn btn-light btn-circled btn-quote">${{index.service.quote}}$</a>
<!-- 
                            <a href="#!" target="_blank" class="btn btn-light btn-circled">
                                Quote request
                            </a> -->
                        </p>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Digital Marketing</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>Graphic Design</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>App Development</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Wordpress Installation</h3>
                        <p>Afraid we praise lively he suffer family estate is. Ample order up in of in ready. Timed blind had .</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>