
    <!-- HERO
    ================================================== -->
    <section class="banner-area section py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center pt-4">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner pt-4" >
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 font-weight-bold">
                            1D Nest: Cutting Optimization software
                        </h1>

                        <!-- Subheading -->
                        <!-- <p class="lead mb-4 ">
                            Reduce waste and generate optimal cutting plans with the most simple and easy to learn optimization software tool for your one dimension materials.
                        </p> -->
                        <p class="lead mb-4 ">
                        The most simple and productive software tool to minimize waste and generate cutting plans with optimum efficiency to save materials such as metal profiles, bars, beams, tubes, rods, rolls or any material which to be manufactured must cut into smaller length pieces.
                    </p>
                        <!-- Button -->
                        <p class="mb-0">
                            <a href="https://1d-solutions.com/1dnest/engl/1dn35.exe" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-circled">
                                Free trial!
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block text-center">
                    <div class="banner-img-block img-block">
                        <img src="images/old-opti-pipes.jpg" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
